* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.users-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.skeleton-card {
  padding: 20px;
  border-radius: 12px;
  background: #e5e7eb;
}

.skeleton {
  background: #f3f4f6;
  border-radius: 8px;
  margin-bottom: 12px;

  animation: loader 1.5s infinite;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.name {
  width: 70%;
  height: 20px;
}

.email {
  width: 100%;
  height: 14px;
}

@keyframes loader {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.user-card {
  padding: 20px;
  border-radius: 12px;
  border: 1px solid;
}

.user-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.user-card h3 {
  width: 70%;
  height: 20px;
}

.user-card p {
  width: 100%;
  height: 14px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111827;
  color: #f9fafb;
  padding: 1.2rem 2rem;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  align-items: center;
}

.nav-links {
  cursor: pointer;
}
